@model (IEnumerable<Nomenclatures.Data.Produit> Produits, IEnumerable<Type> TypesProduits)

<div class="text-center">
    <h1 class="display-4">Produits</h1>

    <form method="post">
        <select name="type" asp-items="@(new SelectList(Model.TypesProduits,"Name","Name"))"></select>
        <button type="submit" asp-action="Create" class="btn btn-primary">Créer</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Produits)
        {
            <tr>
                <td><a asp-action="Edit" asp-route-id="@p.Id">@p.Nom</a></td>
                <td>@p.GetType().Name</td>
                <td><a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-primary">Supprimer</a></td>
            </tr>
        }
        </tbody>
    </table>

</div>